#history {
    background-color: var(--secondary-local-color);
}

#carouselHistory {
    width: 90%;
    padding: 3rem 6rem;
}

#carousel-history-inner .carousel-item {
    padding: 2rem 6rem;
}

@media screen and (max-width: 800px) {
    #history-container {
        width: 90%;
    }
}

@media screen and (max-width: 400px) {
    #carouselHistory {
        padding: 2rem 2.5rem;
    }
}