#nav-menu {
    background-color: var(--primary-local-color);
    border-bottom: 1px solid var(--light-local-color);
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 60px;
}

#nav-container{
    width: 90%;
    margin: auto;
}

.navbar-brand {
    color: var(--light-local-color);
}

#nav-list {
    display: flex;
    flex-direction: row;
    gap: 16px;
}