#projects {
    background-color: var(--secondary-local-color);
}

#front-card-group {
    /* Controlar grid */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.card-deck .card {
    /* Controlar fr's */
    background-color: var(--contrast-local-color);
    color: var(--light-local-color);
    width: 30%;

}
